# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.venv/
.env

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs and temp
logs/
*.log
*.tmp
temp_preprocessed.png

# Secrets
serviceAccountKey.json

# Uploads
receipt-processor-app/uploads/
